<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
    Es una aplicacion hecha con nodejs y mongodb remoto (cloud mongodb),
    sirve para agregar notas, recordatorios etc.
    CRUD (Create, Read , Update, Delete)
    </p>
  </div>
</section>
